email validation & new gTLDs

As reported by Nathanaelle @nm_s on Twitter, .paris TLD is not validated!

List of gTLDs to validate: https://data.iana.org/TLD/tlds-alpha-by-domain.txt
TLDs: maximum number of characters for the foreseeable future is 63 (The definitive descriptions of the rules for forming domain names appear in RFC 1035, RFC 1123, and RFC 2181 [...] 
Each label may contain up to 63 characters. source: http://en.wikipedia.org/wiki/Domain_Name_System#cite_ref-rfc1034_1-2

emailvalidator.cpp

uses this regexp:

EmailValidator::EmailValidator(QObject *parent) :
QValidator(parent),
m_validMailRegExp("[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}"),
m_intermediateMailRegExp("[a-z0-9._%+-]*@?[a-z0-9.-]*\\.?[a-z]*")
{
}
/*! Checks wether the given input string is valid */

I guess {2,4} is the TLDs number of chars limit.

Should we increase it directly to 64?
Or calculate the longest valid TLD from the list and update the list form time to time or automatically?
Or check each TLD against the elements of the list?

Commit f3793ebea8434c87edc8dc15c95cd2a856830f70 increase TLD to 63 characters.

To do: remove emailvalidator.cpp and fix code using it. (No time to do it now sorry.)

We shouldn't interfere with bug reporting because of email validation and we shouldn't ignore RFC standards.
Asking the user twice for his email address should be enough. If email is invalid, it will be handled by SMTP protocol and the user will quickly learn about it. A user who can't write an email address shouldn't use our software or make bug reports anyway. :-)
